*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container2 {
    width: 100%;
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin-left: 520px;
    margin-top: 80px;
    padding: 30px;
    background-image: url(3033-safeimagekit.jpeg);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 5px solid blue;
    box-shadow: 0px 0px 10px 4px rgb(158, 158, 237);
}
.container3:hover{
    transform: scale(1.05);
    transition: 1s;
}
.container2:hover{
    transform: scale(1.05);
    transition: 1s;
}
.container1:hover{
    transform: scale(1.05);
    transition: 1s;
}
.text {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    text-align: justify;
}

h1{
    font-weight: 600;
    font-style: italic;
}

@media (max-width: 1890px) {
    .container1 {
        width: 90%;
    }
    .container2 {
        width: 90%;
    }
    .container3 {
        width: 90%;
    }
    .text {
        font-size: 18px;
    }
}

.container1 {
    width: 100%;
    max-width: 1000px; 
    padding: 20px 50px;
    background-image: url(3033-safeimagekit.jpeg);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 80px;
    border: 5px solid rgb(239, 130, 93);
    box-shadow: 0px 0px 10px 4px rgb(243, 151, 121);
    margin-left: -20px;
}

.container3 {
    width: 100%;
    max-width: 1000px; /* Adjust the maximum width as needed */
    padding: 20px 50px;
    background-image: url(3033-safeimagekit.jpeg);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 80px;
    border: 5px solid rgb(21, 137, 10);
    box-shadow: 0px 0px 10px 4px rgb(154, 231, 147);
    margin-left: -20px;
}